node_modules
.pnpm-store

dist
build
.next
out
.turbo

*.log
.DS_Store
.env
.env.local
.env.*.local
!.env.example

coverage
.nyc_output

.docker
docker-data

generated
*.tsbuildinfo

.vercel
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
